@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply bg-prime-white text-prime-dark;
	}

	option {
		@apply text-center text-lg font-bold text-prime-dark;
	}

	option:disabled {
		@apply text-gray-400;
	}

	input[type='radio']:checked + label {
		@apply bg-prime-orange text-white;
	}
}

@layer components {
	.btn-base {
		@apply rounded-lg bg-prime-green-200 px-8 py-2;
	}

	.btn-disabled {
		@apply bg-prime-green-100;
	}

	.scoreboard-mid {
		border-top: 55px solid #ff6f00;
		border-left: 20px solid transparent;
		border-right: 20px solid transparent;
		height: 0;
		width: 95px;
	}
}
